<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <ul>
            <li v-for="user in usuarios" >
                {{ user.rol }} - {{ user.name }}
            </li>
        </ul>

        <fieldset>
            <span>Nombre:</span>
            <input type="text" v-model="nombre" placeholder="Escribe tu nombre">
            <br>
            <span>Rol:</span>
            <input type="text" v-model="rol" placeholder="Escribe tu rol">
            <br>
            <button type="button" @click="insertar">Insertar</button>
        </fieldset>

        <button type="button" @click="contar">Click {{ contador }}</button>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
      const { createApp, ref } = Vue

      createApp({
        setup() {
          const nombre = ref('')
          const rol = ref('')
          const contador = ref(0)
          const usuarios = ref([
            { "rol": "backend", "name": "Leanne Graham" },
            { "rol": "frontend", "name": "Eduardo" }
          ])

          const contar = () => {
            contador.value++
          }

          const insertar = () => {
            usuarios.value.push({ "rol": rol.value, "name": nombre.value })
            nombre.value = ''  
            rol.value = ''    
            
          }

          return {
            nombre,
            rol,
            contador,
            usuarios,
            contar,
            insertar
          }
        }
      }).mount('#app')
    </script>
</body>
</html>
