<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="" id="app">
        <ul>
            <li v-for="user in usuarios">
                {{ user.rol }} - {{ user.name }}
            </li>
        </ul>
        <fieldset>
            <span>Nombre:</span>
            <input type="text"  v-model="nombre" placeholder="escribe tu nombre">
            <br>
            <span>Rol:</span>
            <input type="text"  v-model="rol" placeholder="escribe tu nombre">
            <!--  <br>
            <span>Tu nombre: {{ nombre }}</span>
            <br>
            <span>Número 1:</span>
            <input type="number" id="num1" v-model.number="numero1" placeholder="Dame un número">
            <br>
            <span>Número 2:</span>
            <input type="number" id="num2" v-model.number="numero2" placeholder="Dame un número">
            <button type="button" @click="sumar">Resultado</button>
            <br>
            <span>Resultado: {{ resultado }}</span> -->
            <button type="button" v-on:click="insertar" >insertar</button>
        </fieldset>
        <button type="button" @click="contar">Click {{ contador }}</button>
    </form>
 



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    
    <script>
        const { createApp, ref } = Vue
  
        createApp({
          data() {
            return {
              nombre: "",
              rol: "",
              contador: 0,
              usuarios: [
                { "rol": "backend", "name": "Leanne Graham" },
                { "rol": "frontend", "name": "Eduardo" }
              ]
            }
          },
          methods: {
            contar() {
              this.contador++
            },
            insertar() {
              if (this.nombre !== '' && this.rol !== '') {
                this.usuarios.push({
                  "rol": this.rol,
                  "name": this.nombre
                })
                // Limpiar los campos
                this.nombre = ''
                this.rol = ''
              }
            }
          }
        }).mount('#app')
      </script>
</body>
</html>